<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="/" class="nav-link {{#if NavActiveRegister}} active {{/if}}" aria-current="page">Register</a>
      </li>
      <li class="nav-item">
        <a href="/users" class="nav-link {{#if NavActiveUsers}} active {{/if}}">Users</a>
      </li>
    </ul>
  </header>